@import url("reset.css");
@import url("icon.css");
@import url("checkbox.css");
@import url("form.css");
@import url("radio.css");
@import url("btn.css");
@import url("switch.css");

a{
    -webkit-app-region: no-drag !important;
    outline: none;
}
a.red{
    color:red !important;
}
html{
    height: 100%;
}
body{
    display: -webkit-box;
    height: 100%;
    -webkit-box-orient: vertical;
     overflow: hidden;
}
.no-drag{
    -webkit-app-region: no-drag;
}
.red{
    color: red;
}
.content{
    font-size: 0;
    -webkit-box-flex: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-app-region: drag;
}
.content .flex-box{
     flex-wrap: nowrap;
     display: flex;
     -webkit-box-flex: 1;
     border-right: 1px solid #e6e6e6;
     overflow: hidden;
}
.content aside{
    width: 185px;
    font-size: 14px;
    background-color: #354351;
    /* border-bottom: 1px solid #2D3945; */
    position: relative;
    z-index: 9;
}
.content .project-btn-box{
    font-size: 0;
    border-top: 1px solid #7D8F9D;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.content .project-btn-box a{
    color: #9BAFBB;
    width: 50%;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    border-right: 1px solid #7D8F9D;
    box-sizing: border-box;
    font-size: 14px;
}
.content .project-btn-box .setting-icon,
.content .project-btn-box .add-icon
{
    vertical-align: -2px;
    margin-right: 5px;
}

.itemes-info{
    font-weight: bold;
    padding-left: 20px;
    font-size: 16px;
    color: #354351;
    line-height: 49px;
    height: 49px;
    border-bottom: 1px solid #e6e6e6;
    -webkit-app-region: drag;
}
.itemes-info .edit-btn{
    color: #bbb;
    text-decoration: inherit;
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
}
.itemes-info .text
{
    vertical-align: 2px;
    border-right: 1px solid #ddd;
    padding-right: 15px;
    margin-right: 15px;
    vertical-align: middle;
}

.global-aside{
    width: 50px;
    position: relative;
    background: #242E38;
    border-bottom: 1px solid #2D3945;
    -webkit-app-region: drag;
}
.global-aside .logo-box{
    width: 50px;
    height: 50px;
    background: url("img/logo.svg") no-repeat center center;
    box-sizing: border-box;
    border-bottom: 1px solid #2D3945;
}
.global-aside .project-btn{

}
.global-aside .global-setting{
    width: 32px;
    height: 32px;
    cursor: pointer;
    border:1px solid #47555F;
    background: url("img/slice/set-icon.png") #2E3A44 no-repeat center center;
    position: absolute;
    bottom: 7px;
    left: 7px;
}

aside .add-project-box{
    height: 49px;
    border-bottom: 1px solid #2D3945;
    -webkit-app-region: drag;
    padding-top: 9px;
    box-sizing: border-box;
}
aside .add-project-box .add-icon{
    vertical-align: -1px;
    margin-right: 5px;
}
aside .add-project-box .add-project-btn{
    display: block;
    color: #fff;
    text-align: center;
    background-color: #2487C8;
    padding: 5px 0px;
    text-decoration: inherit;
    width: 105px;
    border-radius: 23px;
    margin-left: auto;
    margin-right: auto;
}
menu{
    -webkit-app-region: no-drag;
}

menu .menu-list{
}
menu .menu-list li{
    position: relative;
}
menu .menu-list a{
    display: block;
    height: 38px;
    line-height: 38px;
    color: #fff;
    text-indent: 22px;
}
menu .menu-list a:hover{
    text-decoration: none;
}
menu .menu-list li .arrow-left{
    display: none;
}

menu .menu-list li.cur{
    background-color: #2D3945;
}
menu .menu-list li.cur .arrow-left {
    display: block;
    position: absolute;
    width: 0px;
    height: 0px;
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-right: 6px solid #fff;
    font-size: 0px;
    line-height: 0px;
    right: 0;
    top: 50%;
    margin-top: -6px;
}


main{
    font-size: 14px;
    flex: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    position: relative;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}


/*全局操作样式*/
.global-operations{
    width: 240px;
    height: 50px;
    position: absolute;
    right: 0;
    text-align: right;
    box-sizing: border-box;
    border-top: 1px solid #e6e6e6;
    z-index: 9;
}
.global-operations.alert-box{
    background-color: #354351;
    width: 100%;
    position: relative;
    -webkit-app-region: drag;
    border: 1px solid #2D3945;
}
.global-operations.alert-box h1{
    text-align: left;
    display: inline-block;
    float: left;
    color: #fff;
    font-size: 16px;
    padding-left: 20px;
    margin-top: 14px;
}

.global-operations .minimize-btn,
.global-operations .fullscreen-btn,
.global-operations .close-btn
{
    width: 30px;
    height: 30px;
    display: inline-block;
    -webkit-app-region: no-drag;
}
.global-operations .minimize-btn{
    background: url("img/minimize-hover-icon.png") no-repeat center 18px;
}

.global-operations .fullscreen-btn{
    background: url("img/fullscreen-hover-icon.png") no-repeat center center;
}

.global-operations .close-btn{
    background: url("img/close-hover-icon.png") no-repeat center center;
    margin-top: 8px;
    margin-right: 15px;
}


.global-operations .minimize-btn:hover{
    background-color: #FFBD2D;
    background-image: url(img/minimize-icon.png);
}

.global-operations .fullscreen-btn:hover{
    background-color: #27C93F;
    background-image: url(img/fullscreen-icon.png);
}

.global-operations .close-btn:hover{
    background-color: #FF6157;
    background-image: url(img/close-icon.png);
}


main .shortcut-operations{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    background-color: #F7F8F9;
    -webkit-app-region: no-drag;
    -webkit-user-select:none;
}
main .shortcut-operations a{
    font-weight: bold;
    margin-right: 20px;
    text-decoration: none;
}
.drop-files-box{
    -webkit-box-flex: 1;
    overflow: auto;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    background-color: #F7F8F9;
    padding-bottom: 10px;
    line-height: 20px;
    word-wrap: break-word;
    position: relative;
    -webkit-app-region: no-drag;
}
.drop-files-box .drop-tips{
    font-size: 18px;
    color: #ccc;
    position: absolute;
    left: 50%;
    margin-left: -90px;
    top: 50%;
    margin-top: -30px;
}
.drop-files-box .logs-wrap{
    margin-bottom: 10px;
}
.drop-files-box .logs-wrap .time{
    line-height: 26px;
    text-align: left;
    color: #bbb;
}
.drop-files-box .logs{
    border: 1px solid #e6e6e6;
    background-color: #fff;
    padding: 20px;
}
.drop-files-box .logs-box{
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative;
    border-bottom: 1px dashed #e6e6e6;
}
.drop-files-box .logs-box:last-child{
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.drop-files-box .logs-box:last-child .logs-text-box{
    padding-bottom: 0;
}


.drop-files-box .logs-box h3{
    font-size: 14px;
    color: #354351;
}
.drop-files-box .logs-box h3 em{
    font-weight: normal;
    margin-left: 5px;
    font-size: 12px;
    color: #88939D;
}

/*复制提示*/
.drop-files-box .logs-box .copy-btn{
    font-weight: normal;
    cursor: pointer;
    color:#006DFF;
    margin-top: 10px;
    display: inline-block;
}
.drop-files-box .logs-box .copy-input{
    opacity: 0;
    width: 0;
    height: 0;
}
.drop-files-box .logs-box .copy-btn .copy-icon,
.drop-files-box .logs-box .success-icon
{
    width: 15px;
    height: 15px;
    background-image: url("img/slice/copy-icon.png");
    display: inline-block;
    vertical-align: -2px;
    margin-right: 5px;
}
.drop-files-box .logs-box .copy-tips{
    font-size: 12px;
    color: #2BC941;
    display: inline-block;
    margin-left: 5px;
    display: none;
}
.drop-files-box .logs-box .success-icon{
    width: 11px;
    height: 11px;
    background-image: url("img/slice/success-icon.png");
    vertical-align: -1px;
}

/*end*/

.drop-files-box .logs-text-box{
    padding-top: 10px;
    line-height: 24px;
}
.drop-files-box .logs-text-box a{
    display: block;
    cursor: pointer;
    color: #333;
}
.drop-files-box .logs-text-box a:hover{
    text-decoration: underline;
}

/*右侧工具栏*/
.operations-box{
    position: relative;
    box-sizing: border-box;
    width: 240px;
    background-color: #FAFAFA;
    font-size: 12px;
    line-height: 26px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    border: 1px solid #e6e6e6;
    border-right: none;
    -webkit-app-region: no-drag;
    margin-top: 50px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.operations-box .close-btn{
    position: absolute;
    background-repeat: no-repeat;
    top: -1px;
    left: -22px;
    border: 1px solid #e6e6e6;
    border-right: none;
    padding:5px;
    background-color: #FAFAFA;
}
.operations-box .close-btn .arrow-icon{
    width: 10px;
    height: 9px;
    background-image: url("img/slice/close-arrow.png");
    display: inline-block;
}
.operations-box.in .close-btn .arrow-icon{
    background-image: url("img/slice/open-arrow.png");
}
.operations-box hr{
    font-size: 0;
    margin-top: 7px;
    margin-bottom: 7px;
    border: none;
    border-bottom: 1px solid #ebebeb;
}
.operations-box .form-control{
    line-height: 26px;
    height: 26px;
    padding-left: 5px;
    margin-right: 5px;
    box-sizing: border-box;
    width: 110px;
    margin-bottom: 4px;
}

/*other*/
#loadding-box {
    -webkit-box-flex: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 99;
}

#loadding-box .loading-box {
    height: 100%;
}

#loadding-box .loading-box {
    background: rgba(0, 0, 0, 0.8);
}

#loadding-box .loading-icon {
    position: absolute;
    margin-left: -20px;
    margin-top: -20px;
    top: 50%;
    left: 50%;
}

.tab-side{
    width: 150px;
    background-color: #F5F5F5;
    font-size: 14px;
}
.tab-side li a{
    display: block;
    height: 30px;
    line-height: 30px;
    padding-left: 34px;
    color: #444444;
    margin-top: 15px;
}
.tab-side li a.cur,
.tab-side li a:hover{
    background-color: #EBEBEB;
    text-decoration:inherit;
}

.tab-content{
    padding-top:30px;
}
.tab-content.hide{
    display: none;
}
/*footer*/
.footer{
    height: 48px;
    line-height: 48px;
    background-color: #FBFBFB;
    text-align: center;
    border-top: 1px solid #e6e6e6;
}
.footer .btn-default{
    margin-left: 10px;
    margin-right: 10px;
}



.updata-btn{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(img/slice/updata-icon.svg);
    background-size: 16px 16px;
    vertical-align: -4px;
}

.multipleFile-box{

cursor: pointer;

color: #006eff;

font-weight: bold;

display: inline-block;

position: relative;
}
.multipleFile-box .multipleFile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    cursor: pointer;
    opacity: 0;
    z-index: -1;
}

























