<div class="about-wrap" style="display: none;">
    <div class="global-operations">
        <a href="javascript:void(0);" title="置顶窗口" class="always-on-top-btn" id="alwaysOnTop"><i class="pushpin-icon"></i></a>
        <a href="javascript:void(0);" title="最小化窗口" class="minimize-btn" id="minimize"></a>
        <a href="javascript:void(0);" title="全屏模式" class="fullscreen-btn" id="enterFullscreen"></a>
        <a href="javascript:void(0);" title="关闭软件" class="close-btn" id="closeSortware"></a>
    </div>
    <div class="about-info-box">
        <i class="logo-about"></i>
        <span class="version-text">版本 <%= version %></span>

        <dl>
            <dt>维护人员</dt>
            <dd>owenhong、chaoluo、veyang</dd>
        </dl>
        <dl>
            <dt>交互与视觉</dt>
            <dd>wenjuli、memphiszhao</dd>
        </dl>
        <dl>
            <dt>测试人员</dt>
            <dd>rockywen、abehe、colahan、nengzongtan、nicklu、superliu
                tikehuang、andypliang、baozeng、feihuangfu、tikezheng
            </dd>
        </dl>
        <dl>
            <dt>开源协议</dt>
            <dd>MIT</dd>
        </dl>
    </div>


</div>