<div class="global-aside">
    <div class="logo-box"></div>
    <ul>
        <li>
            <a href="javascript:void(0);" class="project-btn"></a>
        </li>
    </ul>
    <a class="global-setting" title="全局设置" id="settingBtn"></a>
</div>
<aside>
    <!--<div class="logo"></div>-->
    <div class="add-project-box">
        <a href="javascript:void(0);" class="add-project-btn" id="addProject"><i class="add-icon"></i>新建项目</a>
    </div>
    <menu>
        <ul class="menu-list">
            <% if(configItemes.length > 0){ %>
            <% configItemes.forEach(function(result,i){ %>
            <% if(i===0 && result.itemsName!="" ){ %>
            <li class="cur">
                <a href="javascript:void(0);"><%= result.itemsName %></a>
                <i class="arrow-left"></i>
            </li>
            <% }else if(result.itemsName!=""){ %>
            <li>
                <a href="javascript:void(0);"><%= result.itemsName %></a>
                <i class="arrow-left"></i>
            </li>
            <% } })%>
            <% } %>
        </ul>
        <input type="hidden" name="itemsIndex" value="0"/>
    </menu>

    <!--<div class="project-btn-box">-->
        <!--<a href="javascript:void(0);" id="addProject" title="新增项目">-->
            <!--<i class="add-icon"></i>新建-->
        <!--</a>-->
        <!--<a href="javascript:void(0);" id="settingBtn">-->
            <!--<i class="setting-icon"></i>设置-->
        <!--</a>-->
    <!--</div>-->
</aside>