<form id="controlPanelFrome" method="post" enctype="multipart/form-data">
    <input type="hidden" name="itemsIndex" value="0"/>

    <a href="javascript:void(0)" class="close-btn" id="closeMenu">
        <i class="arrow-icon"></i>
    </a>
    <!--  上传服务器或者本地 -->
    <div class="check-block border">
            <label class="info-text">FTP提交</label>
        <label class="switch" title="上传至服务器">
            <input type="checkbox" v-on:click="formSubmit" v-model="Current.ftpSwitch" name="ftpSwitch" class="switch-input">
            <span class="switch-helper">{{Current.ftpSwitch == true ? 'on':'off'}}</span>
        </label>
    </div>

    <hr/>

    <!--  SVN提交 -->
    <div class="check-block border">
        <label class="info-text">SVN提交</label>
        <label class="switch" title="SVN提交">
            <input type="checkbox" v-on:click="formSubmit" v-model="Current.svnSwitch" name="svnSwitch" class="switch-input">
            <span class="switch-helper">{{Current.svnSwitch == true ? 'on':'off'}}</span>
        </label>
    </div>

    <hr/>

    <!--  HTTP提交 -->
    <div class="check-block border">
        <label class="info-text">HTTP提交</label>
        <label class="switch" title="SVN提交">
            <input type="checkbox" v-on:click="formSubmit" v-model="Current.httpSwitch" name="httpSwitch" class="switch-input">
            <span class="switch-helper">{{Current.httpSwitch == true ? 'on':'off'}}</span>
        </label>
    </div>

    <hr/>

    <div class="form-group">
        <!-- 图片压缩 -->
        <div class="check-block border">
            <label class="info-text">图片压缩</label>
            <label class="switch" title="图片压缩">
                <input type="checkbox" v-on:click="formSubmit" v-model="Current.imgMasterSwitch" name="imgMasterSwitch" class="switch-input">
                <span class="switch-helper">{{Current.imgMasterSwitch == true ? 'on':'off'}}</span>
            </label>
        </div>
    </div>

    <hr/>

    <!-- 资源同步 -->
    <div class="check-block border" title="将样式中引用的资源,例如:FONT,SVG, JPEG, GIF, PNG等除雪碧图以外，只要是被样式引用到的资源都会同步到服务器，并生成对应的提单路径">
        <label class="info-text">样式引用资源同步</label>
        <label class="switch" title="样式引用资源同步">
            <input type="checkbox" v-on:click="formSubmit" v-model="Current.resourceSyncSwitch" name="resourceSyncSwitch" class="switch-input">
            <span class="switch-helper">{{Current.resourceSyncSwitch == true ? 'on':'off'}}</span>
        </label>
    </div>

    <hr/>

    <!-- JS压缩 -->
    <div class="check-block border" title="将样式中引用的资源,例如:FONT,SVG, JPEG, GIF, PNG等除雪碧图以外，只要是被样式引用到的资源都会同步到服务器，并生成对应的提单路径">
        <label class="info-text">JS压缩</label>
        <label class="switch" title="JS压缩">
            <input type="checkbox" v-on:click="formSubmit" v-model="Current.jsMinSwitch" name="jsMinSwitch" class="switch-input">
            <span class="switch-helper">{{Current.jsMinSwitch == true ? 'on':'off'}}</span>
        </label>
    </div>

    <hr/>

    <!--  样式处理 -->
    <div class="form-group">
        <label class="info-text">文件重命名</label>
        <div class="check-block" style="margin-top:5px;">
            <label class="check-inline">
                时间戳：
                <input v-on:blur="blurUpdataTime" id="updataTimeVal" type="text" class="form-control" placeholder="" :value="Current.spriteName" style="width:96px;">
                <a v-on:click="updataTime" title="时间戳精确到分钟,一分钟&#13;内切换时间戳不会改变" href="javascript:void(0)" class="updata-btn"></a>
            </label>


            <label class="check-block">
                <input type="checkbox" v-on:click="spriteNameSwitch" v-model="Current.spriteNameSwitch" class="checkbox" name="spriteNameSwitch">
                sprite规则:CSS名-
                <input type="text" disabled name="spriteName" class="form-control form-control-text" placeholder="" :value="Current.spriteName">

            </label>

            <label class="check-block">
                <input type="checkbox" v-on:click="cssNameSwitch" class="checkbox" v-model="Current.cssNameSwitch" name="cssNameSwitch">
                CSS规则:原名-
                <input type="text" disabled name="cssName" class="form-control form-control-text" placeholder="" :value="Current.cssName">
            </label>
        </div>
    </div>

    <hr/>

    <!-- px转rem -->
    <div class="form-group">
        <div class="check-block">
            <span class="info-text">PX转REM</span>
            <label class="switch" title="px转rem">
                <input type="checkbox" v-on:click="pxToRemSwitch" v-model="Current.pxToRemSwitch" name="pxToRemSwitch" class="switch-input">
                <span class="switch-helper">{{Current.pxToRemSwitch == true ? 'on':'off'}}</span>
            </label>
        </div>

        <label class="check-inline" style="margin-top:10px;">
            html font size：
            <input type="text" v-on:blur="formSubmit" v-if="Current.pxToRemSwitch" name="rootValue" class="form-control" :value="Current.rootValue" style="width:45px;">
            <input type="text" v-on:blur="formSubmit" v-else name="rootValue" class="form-control" :value="Current.rootValue" disabled style="width:45px;">
        </label>

        <label class="check-inline">
            转换不包含：
            <input type="text" v-on:blur="formSubmit" v-if="Current.pxToRemSwitch" name="propertyBlackList" class="form-control" placeholder="font-size,font" :value="Current.propertyBlackList">
            <input type="text" v-on:blur="formSubmit" v-else name="propertyBlackList" class="form-control" placeholder="font-size,font" :value="Current.propertyBlackList" disabled>
        </label>
    </div>

    <hr/>
</form>