
<div class="add-project" id="globalConfigDialog" style="display: none;">
    <div class="global-operations alert-box" style="top:3px;">
        <h1>关于Maxim</h1>
        <a href="javascript:void(0);" title="关闭软件" class="close-btn" id="closeAbout"></a>
    </div>
    <form class="form-horizontal xl" method="post" enctype="multipart/form-data" style="width: 640px;">
        <div class="content">
            <div class="flex-box">
                <div class="tab-side no-drag">
                    <ul>
                        <li class="cur">
                            <a href="javascript:void(0)">关于Maxim</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">参与贡献</a>
                        </li>
                    </ul>
                </div>
                <div class="no-drag" style="width:68%;">
                    <div class="tab-content">
                        <div class="about-info-box">
                            <i class="logo-about"></i>
                            <p class="version-text">当前版本: <%= version %></p>
                        </div>
                    </div>
                    <div class="tab-content about-info-box hide">
                        <dl>
                            <dt>维护人员</dt>
                            <dd>andypliang、chaoluo、owenhong、veyang</dd>
                        </dl>
                        <dl>
                            <dt>LOGO设计</dt>
                            <dd>一个低调的设计师</dd>
                        </dl>
                        <dl>
                            <dt>设计</dt>
                            <dd>memphiszhao、wenjuli</dd>
                        </dl>
                        <dl>
                            <dt>测试人员</dt>
                            <dd>abehe、baozeng、colahan、feihuangfu、nengzongtan、nicklu、rockywen、superliu、tikihuang、tikizheng</dd>
                        </dl>
                        <dl>
                            <dt>开源协议</dt>
                            <dd>MIT</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>