<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Maxim</title>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body>
<!-- resizable-icon -->
<i class="resizable-icon"></i>


<!-- loadding -->
<div id="loadding-box" style="display: none;">
    <div class="uploader-box loading-box">
        <img src="/css/img/loading.svg" class="loading-icon" height="40" alt=""/>
    </div>
</div>
<!-- end-->

<div class="content">
    <div class="flex-box">
        <% include aside.html %>
        <main>
            <div class="itemes-info">
                <% if(configItemes[0]){ %>
                <div class="itemes-info-bd">
                <% }else{ %>
                <div class="itemes-info-bd" style="display: none;">
                <% } %>
                    <span class="text"><%= configItemes[0] ? configItemes[0].itemsName : "请新建项目" %></span>
                    <a href="javascript:void(0);" class="edit-btn" title="设置当前项目">设置</a>
                </div>
            </div>

            <div class="shortcut-operations">
                <a href="javascript:void(0);" id="clearLogs">清空LOG</a>
                <a href="javascript:void(0);" id="repeatLastfiles">执行上一次操作</a>
                <div class="multipleFile-box">
                    <span class="text">选择文件</span>
                    <input type="file" class="multipleFile" id="multipleFile" multiple="multiple" title='选择文件'>
                </div>
            </div>
            <div class="drop-files-box" id="drag-and-drop-zone">
                <!-- logs -->
                <em class="drop-tips">请拖拽文件到此区域</em>
            </div>
        </main>
        <div class="global-operations">
            <a href="javascript:void(0);" title="置顶窗口" class="always-on-top-btn" id="alwaysOnTop"><i class="pushpin-icon"></i></a>
            <a href="javascript:void(0);" title="最小化窗口" class="minimize-btn" id="minimize"></a>
            <a href="javascript:void(0);" title="全屏模式" class="fullscreen-btn" id="enterFullscreen"></a>
            <a href="javascript:void(0);" title="关闭软件" class="close-btn" id="closeSortware"></a>
        </div>
        <!-- 右侧控制面板-->
        <div class="operations-box">
            <% include control-panel.html %>
        </div>
    </div>
</div>

<input type="hidden" name="panelBox" value="0"/>
<script src="/js/dist/sea.js" id="seajsnode"></script>
<script>
    // seajs 的简单配置
    seajs.config({
        base: "/js/modules/",
        paths:{
            'modules':'/js/modules/'
        },
        alias: {
            "jquery": "/js/jquery/2.1.4/jquery"
        },
        debug:true
    })

    // 加载入口模块
    seajs.use(["/js/global.js"]);
</script>

</body>
</html>