<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="css/main.css"/>

</head>
<body>
<div class="global-operations alert-box">
    <a href="javascript:void(0);" title="关闭软件" class="close-btn" id="closeSortware"></a>
</div>
<form class="form-horizontal xl" method="post" enctype="multipart/form-data">
    <fieldset>
        <div class="control-group">
            <!-- Text input-->
            <label class="control-label">优图jpg质量</label>
            <div class="controls">
                <input type="text" style="width:55px;" name="youtuQuality" class="form-control" placeholder="70" value="<%= config.youtuQuality %>">
                <p class="help-block"></p>
            </div>
        </div>
        <div class="control-group">
            <!-- Text input-->
            <label class="control-label">Tiny API key</label>
            <div class="controls">
                <div class="input-append">
                    <input type="text" style="width:280px;" name="tinyApi" class="form-control" placeholder="dpv0q0x3DnmxsTMSxjnSbnhk1LJXqia7" value="<%= config.tinyApi %>">
                    <span class="">
                        <a data-href="https://tinypng.com/developers" id="apply-tiny-api">申请地址</a>
                    </span>
                </div>
                <p class="help-block"></p>
            </div>
        </div>
        <div class="control-group">
            <!-- Text input-->
            <label class="control-label">代理(Proxy)</label>
            <div class="controls">
                <input type="text" style="width:280px;" name="proxy" class="form-control" placeholder="http://proxy.tencent.com:8080" value="<%= config.proxy %>">
                <p class="help-block"></p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label"></label>
            <!-- Button -->
            <div class="controls">
                <input type="hidden" name="panelBox" value="2"/>
                <button class="btn btn-primary btn-sm">保存</button>
                <button class="btn btn-default btn-sm" id="cancelWin">取消</button>
            </div>
        </div>
    </fieldset>
</form>

<script src="/js/dist/sea.js" id="seajsnode"></script>
<script>
    // seajs 的简单配置
    seajs.config({
        base: "/js/modules/",
        paths:{
            'modules':'/js/modules/'
        },
        alias: {
            "jquery": "/js/jquery/2.1.4/jquery"
        },
        debug:true
    })

    // 加载入口模块
    seajs.use(["jquery","/js/global.js"]);
</script>
</body>
</html>