
<div id="updataDialog" class="modal-dialog" style="display: none;">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Maxim本次更新了以下功能</h4>
        </div>
        <div class="modal-body">
            <p id="updataText">Maxim本次更新到：<span class="version">2.0.1</span></p>
            <div class="logs"></div>
        </div>
        <div class="modal-footer">
            <a href="javascript:void(0)" class="btn btn-default" data-dismiss="modal" id="updataNo">暂不</a>
            <a href="javascript:void(0)" class="btn btn-primary" id="updataYes">马上重启生效</a>
        </div>
    </div>
</div>
